.game {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.App{
  text-align: center;
}
#header{
  font-size: 2.2rem;
  font-weight: bold;
  color:#5689db;
  margin-top: 6rem;
}
.log:hover {
  background-color: rgb(200, 231, 241);
  border: 2px solid #5689db;
  cursor: pointer;
} 
.log {
  background-color: #ffffff;
  border: 1px solid #5689db;
  border-radius: 1rem;
  color: #5689db;
  font-size: 1rem;
  padding: .5rem;
  margin: 1rem .5rem;
  width: 9rem;
} 
.accountInput{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1rem;
  border: 1px solid rgb(129, 129, 129);
  margin:.4rem;
  height:1.5rem;
  text-align: center;
}
.accountInput:hover{
  background-color: rgb(228, 245, 252);
}
#profile{
  position: fixed;
  top:13%;
  left: 5%;
  height: 65%;
  width:25%;
}
#profileInfo{
  height:65%;
  border-radius: 1.5rem;
  padding: 0 1rem;
  padding-bottom: 1.5rem;
  border: 2px solid white;
  overflow-y: scroll;
  background-color: rgb(228, 245, 252);
  color: #3d7bdf;
  animation: fadeIn linear .5s;

}
.bold{
  font-weight: bold;
}
textarea{
  margin-top: 8rem;
  width:95%;
  height: 5rem;
  border-radius: .5rem;
  padding: .4rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
