.startButton {
      background-color: #ffffff;
      border: 1px solid #5689db;
      border-radius: 1rem;
      color: #5689db;
      font-size: 1rem;
      padding: .5rem;
      margin: 1rem;
      width: 9rem;
} 
.startButton:hover{
      background-color: rgb(200, 231, 241);
      border: 2px solid #5689db;
      cursor: pointer;
} 
.log:hover {
    background-color: rgb(200, 231, 241);
    border: 2px solid #5689db;
    cursor: pointer;
} 
  .log {
    background-color: #ffffff;
    border: 1px solid #5689db;
    border-radius: 1rem;
    color: #5689db;
    font-size: 1rem;
    padding: .5rem;
    margin: 1rem .5rem;
    width: 9rem;
} 
.P1 {
    transform: translateY(400px);
}
.Red{
    background-color: #d61212;
}
.Yellow{
    background-color: #fdf900;
}
.Orange {
    background-color: #e68b03;
}
.Blue{
    background-color: #0261ce;
} 
.Green{
    background-color: #07852d;
} 
.Purple{
    background-color: #741eff;
} 
.P2 {
    transform: translateY(400px);
} 
.result {
    color: #5689db;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    display: none;
    transition: all 2s ease-in;
}  
.show {
    display: block;
}
.board {
    display: flex;
} 
.color {
    margin: 0 .3rem 0 1rem;
    color: #5689db;
    font-weight: bold;
}
select{
    width: 6rem;
    padding: 0 .4rem;
    height: 1.6rem;
    cursor: pointer;
    border-radius: 1rem;
}